# Limpieza y agrupaci√≥n de datos

In [1]:
# Importar las dependencias
import pandas as pd

In [2]:
# Declarar las variables
years = ['2017']
months = ['01','02','03','04','05','06','07','08','09','10','11','12']
df_citibike = pd.DataFrame()
df_citibike_final = pd.DataFrame()

In [3]:
# Recorre todos los archivos
for year in years:
    for month in months:
        csv_file = '../Data/' + year + '/' + year + month + '-citibike-tripdata/' + year + month + '-citibike-tripdata.csv'
        df_citibike = pd.read_csv(csv_file)
        
        df_citibike = df_citibike.rename(index=str, columns={'Bike ID':'bikeid', 'Birth Year':'birth year',
                                       'End Station ID':'end station id',
                                       'End Station Latitude':'end station latitude', 'End Station Longitude': 'end station longitude',
                                       'End Station Name':'end station name', 'Gender':'gender', 'Start Station ID':'start station id',
                                       'Start Station Latitude': 'start station latitude', 'Start Station Longitude':'start station longitude',
                                       'Start Station Name': 'start station name', 'Start Time':'starttime','Stop Time': 'stoptime',
                                       'Trip Duration': 'tripduration', 'User Type':'usertype'
                                       })
        df_citibike_final = df_citibike_final.append(df_citibike)

In [4]:
df_citibike_final.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [5]:
df_citibike_final.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [6]:
df_citibike_final.to_csv('../Data/citibike_2017.csv', sep = ',')